.media:hover,
.media:focus {
  /* flex-basis: 30%; */
  background-color: #29334A;
  transition: background-color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a.media:hover {
  text-decoration: none;
}
