.media:hover,
.media:focus {
  /* flex-basis: 30%; */
  background-color: #29334A;
  transition: background-color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a.media:hover {
  text-decoration: none;
}

.card-img-top {
  overflow: hidden;
}

.card-img-top img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.sidebar {
  position: fixed;
  top: 4.5rem;
  width: 17rem;
  height: 100%;
  padding-top: 2rem;
  z-index: 100;
}

.main-content {
  padding-right: 0rem;
  padding-left: 17rem;
}

.moment-store-card {
  /* min-width: 14rem; */
  max-width: 26rem;
  max-height: 16rem;
}

@media (max-width: 768px) {
  .sidebar {
    margin-left: -17rem;
  }

  .main-content {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}
